body {
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
html {
  height: 600px;
}
a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF5EE;
  z-index: 2;
  }

  .hamburger-wrapper {
    display: none;
}
.hamburger-div {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
    
}

.hamburger-button {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    
}

.hamburger-image {
    width: 34px;
}

@media (max-width: 865px) {
  
  .hamburger-wrapper {
      display: flex;
  }

}
  
  .logo-div {
      display: flex;
      align-items: center;
      justify-content: center;
      }
      
      .logo-button {
      background-color: transparent;
      border-width: 0px;
      font-family: "Abril Fatface", serif;
      margin-left: 50px;
      margin-bottom: 5px;
      text-wrap: nowrap;
      min-width: 100px;
      text-decoration: none;
  
      
      
      }
      
      .logo-button p {
          font-family: "Abril Fatface", serif;
          font-size: 35px;
          font-weight: 300;
          color: #232323;
          text-decoration: none;
  
      }
      @media (max-width: 1200px) {
          .logo-button {
            display: none;
            
            
          }
        }
      .menu-buttons-div {
      flex: 1;
      display: flex;
      align-items: center;
      min-width: 100px;
      
      
      
      }
  
      .menu-buttons-div button {
          margin-left: 3vw;
          border: 0px;
          background-color: transparent;
          font-size: 17px;
          font-family: "Rubik", sans-serif;
          text-wrap: nowrap;
          width: 6vw;
          min-width: 120px;
      }
      .menu-buttons-div button:nth-child(4) {
        margin-left: 2vw;
        
    }
  
      @media (max-width: 865px) {
          .menu-buttons-div {
            display: none;
          }
        }
      
      .login-try {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #FFF5EE;
          
          
      }
      
      .login-try a:nth-child(1) {
          border-width: 0px;
          width: 90px;
          height: 50px;
          font-size: 18px;
          font-family: "Rubik", sans-serif;  
          margin-right: 5px; 
          background-color: #D3D3D3;
          display: flex;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          justify-content: center;
          
      }
      .login-try a:nth-child(1):visited {
          
          color: black;
          
      }
  
      .login-try a:nth-child(2) {
          background-color: black;
          color: white;
          border-width: 0px;
          width: 150px;
          height: 50px;
          font-size: 18px;
          font-family: "Rubik", sans-serif;  
          display: flex;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          justify-content: center;
      }
  
  .sound-effects-button {
        cursor: pointer;
        text-decoration: none;
        color: black;
  }
  
  .pricing-button {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  @media(max-width: 630px) {
    .login-try a:nth-child(2) {
        display: none;
    }
    .login-try {
        width: 150px;
    }
}


  
  .titles {
    height: 350px;
    background-color: #FFF5EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    position: relative;
  }
  
  .titles p:nth-child(1) {
    font-family: Playfair Display;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
  
  .titles p:nth-child(2) {
    width: 700px;
    text-align: center;
    font-size: 19px;
    font-family: Roboto;
    line-height: 30px;
  }
  
  .titles img:nth-child(3) {
    width: 150px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
  }
  

  
  
  @media (max-width: 740px) {
    .titles p:nth-child(2) {
      width: 500px;
      
      
    }
  }


  
  @media (max-width: 500px) {
    .titles p:nth-child(2) {
      width: 300px;
      
      
    }
  }

  .music {
     background-color: #121418;
     height: 350px;
  }

  .music p {
    color: white;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 20px;
  }

  .grid-wrap {
    display: flex;
    
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  @media(max-width: 1315px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .music {
      height: 600px;
    }
  }

  @media(max-width: 650px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .music {
      height: 800px;
    }
  }




  .genre {
    
    width: 200px;
    height: 200px;
  }

  .genre-name-background {
    height: 65px;
    display: flex;
    align-items: center;
  }

  .genre-name-background p {
    font-size: 25px;
    font-family: Playfair Display;
    font-weight: bold;

  }



.grid a:nth-child(1) {
  background-color: #FF6347;
}

.grid a:nth-child(2) {
  background-color: #5af15a;
}

.grid a:nth-child(3) {
  background-color: #87CEFA;
}

.grid a:nth-child(4) {
  background-color: #9F2B68;
}

.grid a:nth-child(5) {
  background-color: #5F9EA0;
}

.grid a:nth-child(6) {
  background-color: pink;
}

  .genre img {
    object-fit: cover;
    height: 68%;
    width: 100%;
  }

  @media(max-width: 440px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .music {
      height: 1700px;
    }
    .genre {
      width: 250px;
      height: 250px;
    }
    .genre img {
      height: 74%;
    }
  }


  .navigation {
    background-color: #FFF5EE;
    height: 600px;
    display: none;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
    margin-left: 40px;
}

.nav-buttons a {
    font-size: 35px;
    font-family: "Rubik", sans-serif;  
    cursor: pointer;

}

.nav-buttons a:hover {
    color: #525252;
}