html {
  height: 600px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.header {
display: flex;
justify-content: space-between;
height: 100px;
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #FFF5EE;
z-index: 2;
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .logo-button {
    background-color: transparent;
    border-width: 0px;
    font-family: "Abril Fatface", serif;
    margin-left: 50px;
    margin-bottom: 5px;
    text-wrap: nowrap;
    min-width: 100px;
    text-decoration: none;

    
    
    }
    
    .logo-button p {
        font-family: "Abril Fatface", serif;
        font-size: 35px;
        font-weight: 300;
        color: #232323;
        text-decoration: none;

    }
    @media (max-width: 1200px) {
        .logo-button {
          display: none;
          
          
        }
      }
    .menu-buttons-div {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 100px;
    
    
    
    }

    .menu-buttons-div button {
        margin-left: 3vw;
        border: 0px;
        background-color: transparent;
        font-size: 17px;
        font-family: "Rubik", sans-serif;
        text-wrap: nowrap;
        width: 6vw;
        min-width: 120px;
    }
    .menu-buttons-div button:nth-child(4) {
      margin-left: 2vw;
      
  }

    @media (max-width: 865px) {
        .menu-buttons-div {
          display: none;
        }
      }
    
    
    
    .login-try {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF5EE;
        
        
    }
    
    .login-try a:nth-child(1) {
        border-width: 0px;
        width: 90px;
        height: 50px;
        font-size: 18px;
        font-family: "Rubik", sans-serif;  
        margin-right: 5px; 
        background-color: #D3D3D3;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        
    }
    .login-try a:nth-child(1):visited {
        
        color: black;
        
    }

    .login-try a:nth-child(2) {
        background-color: black;
        color: white;
        border-width: 0px;
        width: 150px;
        height: 50px;
        font-size: 18px;
        font-family: "Rubik", sans-serif;  
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
    }


    @media(max-width: 630px) {
      .login-try a:nth-child(2) {
          display: none;
      }
      .login-try {
          width: 150px;
      }
  }
  

.sound-effects-button {
      cursor: pointer;
      text-decoration: none;
      color: black;
}

.pricing-button {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.hamburger-wrapper {
  display: none;
}
.hamburger-div {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4vw;
  
}

.hamburger-button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  
}

.hamburger-image {
  width: 34px;
}

@media (max-width: 865px) {
  .menu-buttons-div {
    display: none;
  }
  .hamburger-wrapper {
      display: flex;
  }

}

.titles {
  height: 400px;
  background-color: #FFF5EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
}

.titles p:nth-child(1) {
  font-family: Playfair Display;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: clamp(40px, 4vw, 60px);
  text-wrap: nowrap;
}

.titles p:nth-child(2) {
  width: 700px;
  text-align: center;
  font-size: 19px;
  font-family: Roboto;
  line-height: 30px;
}

.titles img:nth-child(3) {
  width: 300px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.titles img:nth-child(4) {
  width: 300px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}

@media(max-width: 1050px) {
  .titles img:nth-child(3), .titles img:nth-child(4){
    width: 200px;
  }
}

@media(max-width: 440px) {
  .titles img:nth-child(3), .titles img:nth-child(4){
    width: 150px;
  }
}


@media(max-width: 740px) {
  .titles p:nth-child(2) {
    width: 500px;
    
    
  }
}

@media (max-width: 500px) {
  .titles p:nth-child(2) {
    width: 330px;
    font-size: 17px;
    line-height: 20px;
  }
}

.soundeffects {
  background-color: #121418;
  height: 700px;
  margin-top: 0px;
}

.soundeffects p:nth-child(1) {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 20px;
}

.grid-wrap {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  
}

@media(max-width: 1315px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);

  }
  .soundeffects {
    height: 900px;
  }
}

@media(max-width: 885px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);

  }
  .soundeffects {
    height: 1200px;
  }
}

@media(max-width: 655px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);

  }
  .soundeffects {
    height: 1400px;
  }
}


.type {
  background-color: rebeccapurple;
  width: clamp(120px, 5vwpx, 300px);
  height: 250px;
  margin-bottom: 5px;
  
}


@media(max-width: 655px) {
  .type {
    width: 150px;
    height: 190px;
  }
  .image-wrap {
    height: 150px;
  }
  .a-wrapper:nth-of-type(4) .type-img {
    height: 150px;
    width: 150px;
  }
  

}

.image-wrap {
  display: flex;
  justify-content: center;
}



.grid div {
  cursor: pointer;
}

.a-wrapper:nth-of-type(1) .type {
  background-color: pink;
}

.a-wrapper:nth-of-type(2) .type {
  background-color: #CCCFFF;
}

.a-wrapper:nth-of-type(3) .type {
  background-color: #D9F2E6;
}

.a-wrapper:nth-of-type(4) .type {
  background-color: #5F9EA0;
}

.a-wrapper:nth-of-type(5) .type {
  background-color: #FFFF8F;
}

.a-wrapper:nth-of-type(6) .type {
  background-color: #9F2B68;
}

.a-wrapper:nth-of-type(7) .type {
  background-color: #AFEEEE;
}

.a-wrapper:nth-of-type(8) .type {
  background-color: #90EE90;
}

.a-wrapper:nth-of-type(9) .type {
  background-color: #FF6347;
}

.a-wrapper:nth-of-type(10) .type {
  background-color: #FFDEAD;
}

.a-wrapper:nth-of-type(11) .type {
  background-color: #87CEFA;
}

.a-wrapper:nth-of-type(12) .type {
  background-color: #FFFAE3;
}

.a-wrapper:nth-of-type(1) .type-img {
  height: 180px;
  width: 170px;
}

.a-wrapper:nth-of-type(2) .type-img {
  height: 125px;
  width: 170px;
}

.a-wrapper:nth-of-type(3) .type-img {
  height: 180px;
  width: 170px;
}


.a-wrapper:nth-of-type(4) .type-img {
  height: 150px;
  width: 160px;
  margin-top: 20px;
  
}



.a-wrapper:nth-of-type(5) .type-img {
  height: 180px;
  width: 180px;
}

.a-wrapper:nth-of-type(6) .type-img {
  height: 180px;
  width: 180px;
}

.a-wrapper:nth-of-type(7) .type-img {
  height: 190px;
  width: 180px;
}


.a-wrapper:nth-of-type(8) .type-img {
  height: 180px;
  width: 180px;
}


.a-wrapper:nth-of-type(9) .type-img {
  height: 180px;
  width: 180px;
}


.a-wrapper:nth-of-type(10) .type-img {
  height: 200px;
  width: 180px;
}

.a-wrapper:nth-of-type(11) .type-img {
  height: 190px;
  width: 180px;
}

.a-wrapper:nth-of-type(12) .type-img {
  height: 190px;
  width: 190px;
}

@media(max-width: 665px) {
  
  .a-wrapper:nth-of-type(1) .type-img {
    height: 140px;
    width: 170px;
    margin-bottom: 40px;
  }
  
  .a-wrapper:nth-of-type(2) .type-img {
    height: 120px;
    width: 160px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(3) .type-img {
    height: 150px;
    width: 140px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(4) .type-img {
    height: 140px;
    width: 150px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(5) .type-img {
    height: 130px;
    width: 140px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(6) .type-img {
    height: 160px;
    width: 150px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(7) .type-img {
    height: 150px;
    width: 140px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(8) .type-img {
    height: 170px;
    width: 160px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(9) .type-img {
    height: 150px;
    width: 140px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(10) .type-img {
    height: 160px;
    width: 150px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(11) .type-img {
    height: 140px;
    width: 130px;
    margin-bottom: 40px;
  }
  .a-wrapper:nth-of-type(12) .type-img {
    height: 150px;
    width: 140px;
    margin-bottom: 40px;
  }
}

.image-wrap {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.grid p {
  margin-top: 14px;
  font-weight: 600;
  font-family: Lato;
  margin-left: 10px;
  font-size: 17px;

}

@media(max-width: 665px) {
  .grid p {
    margin-top: -40px;
  }
}

.navigation {
  background-color: #FFF5EE;
  height: 600px;
  display: none;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
  margin-left: 40px;
}

.nav-buttons a {
  font-size: 35px;
  font-family: "Rubik", sans-serif;  
  cursor: pointer;

}

.nav-buttons a:hover {
  color: #525252;
}


    