a {
    text-decoration: none;
    color: white;
}

body {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121418;
    z-index: 2;
    }
    
    .logo-div {
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        .logo-button {
        background-color: transparent;
        border-width: 0px;
        font-family: "Abril Fatface", serif;
        margin-left: 50px;
        margin-bottom: 5px;
        text-wrap: nowrap;
        min-width: 100px;
        text-decoration: none;
    
        
        
        }
        
        .logo-button p {
            font-family: "Abril Fatface", serif;
            font-size: 35px;
            font-weight: 300;
            color: white;
            text-decoration: none;
    
        }
        @media (max-width: 1200px) {
            .logo-button {
              display: none;
              
              
            }
          }
        .menu-buttons-div {
        flex: 1;
        display: flex;
        align-items: center;
        min-width: 100px;
        
        
        
        }
    
        .menu-buttons-div button {
            margin-left: 3vw;
            border: 0px;
            background-color: transparent;
            font-size: 17px;
            font-family: "Rubik", sans-serif;
            text-wrap: nowrap;
            width: 6vw;
            min-width: 120px;
        }
    
        @media (max-width: 865px) {
            .menu-buttons-div {
              display: none;
            }
          }
        
        
        
        .login-try {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #121418;
            
            
        }
        
        .login-try a:nth-child(1) {
            border-width: 0px;
            width: 90px;
            height: 50px;
            font-size: 18px;
            font-family: "Rubik", sans-serif;  
            margin-right: 5px; 
            background-color: #D3D3D3;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            justify-content: center;
            
        }
        .login-try a:nth-child(1):visited {
            
            color: black;
            
        }
    
        .login-try a:nth-child(2) {
            background-color: black;
            color: white;
            border-width: 0px;
            width: 150px;
            height: 50px;
            font-size: 18px;
            font-family: "Rubik", sans-serif;  
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            justify-content: center;
        }
    
    .sound-effects-button {
          cursor: pointer;
          text-decoration: none;
          color: white;
    }
    
    .pricing-button {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }

    .main {
        background-color: #121418;
        height: 700px;
    }

.container {
    display: flex;
    justify-content: center;
    height: 55%;
    padding-bottom: 60px;
}

.wrapper {
    
    width: 85%;
    height: 90%;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}
.wrapper a {
    color: #a4a3a3;
}

.box {
    
    height: 90%;
    
}

.name {
    background-color: #EDEADE;
    height: 60%;
    display: flex;
    align-items: center;
    
}

.name p:nth-child(1){

    font-size: 3vw;
    font-family: Playfair Display;
    font-weight: bold;
    color: black;
    margin-left: 1vw;
    
}

.text {
    background-color: #242d33;
    height: 40%;
    display: flex;
    align-items: center;
    
}

.text p {
    width: 70%;
    font-size: 15px;
    margin-left: 1vw;
    color: #a4a3a3;
}




.effect-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.effect {
    
    width: 84%;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}

.effect:hover {
    background-color: #101010;
}



.effect img:nth-child(1) {
    width: 60px;
    height: 60px;
    object-fit: cover;
    
    background-color: pink;
}

.effect img:nth-child(2) {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.effect img:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
    
}

.effect p {
    font-family: "Rubik", sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 17px;

}

.effect p:hover {
    text-decoration: underline;
    cursor: pointer;
}