body {
    background-color: #FFF5EE;
    padding-top: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF5EE;
    }
    
    .logo-div {
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        .logo-button {
        background-color: transparent;
        border-width: 0px;
        font-family: "Abril Fatface", serif;
        margin-left: 50px;
        margin-bottom: 5px;
        text-wrap: nowrap;
        min-width: 100px;
        text-decoration: none;
    
        
        
        }
        
        .logo-button p {
            font-family: "Abril Fatface", serif;
            font-size: 35px;
            font-weight: 300;
            color: #232323;
            text-decoration: none;
    
        }
        @media (max-width: 1200px) {
            .logo-button {
              display: none;
              
              
            }
          }
        .menu-buttons-div {
        flex: 1;
        display: flex;
        align-items: center;
        min-width: 100px;
        
        
        
        }
    
        .menu-buttons-div button {
            margin-left: 3vw;
            border: 0px;
            background-color: transparent;
            font-size: 17px;
            font-family: "Rubik", sans-serif;
            text-wrap: nowrap;
            width: 6vw;
            min-width: 120px;
        }
    
        @media (max-width: 865px) {
            .menu-buttons-div {
              display: none;
            }
          }
        
        
        
        .login-try {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFF5EE;
            
            
        }
        
        .login-try a:nth-child(1) {
            border-width: 0px;
            width: 90px;
            height: 50px;
            font-size: 18px;
            font-family: "Rubik", sans-serif;  
            margin-right: 5px; 
            background-color: #D3D3D3;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            justify-content: center;
            
        }
        .login-try a:nth-child(1):visited {
            
            color: black;
            
        }
    
        .login-try a:nth-child(2) {
            background-color: black;
            color: white;
            border-width: 0px;
            width: 150px;
            height: 50px;
            font-size: 18px;
            font-family: "Rubik", sans-serif;  
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            justify-content: center;
        }
    
    .sound-effects-button {
          cursor: pointer;
          text-decoration: none;
          color: black;
    }
    
    .pricing-button {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    
    

.main-title {
    display: flex;
    margin-top: 1vw;
    justify-content: center;
}

.main-title {
    font-family: Playfair Display;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: clamp(40px, 4vw, 60px);
    text-wrap: nowrap;
}

.grid {
    display: grid;
    grid-template-columns: 40px 40px;
    justify-content: center;
    column-gap: clamp(500px, 35vw, 600px);
}

.option {
    background-color: #d2d2d2;
    height: 400px;
    width: 500px;
    margin-left: -230px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
}
@media(max-width: 1100px) {
    .grid {
        grid-template-columns: 40px;
    }
    .option {
        margin-top: 30px;
        width: 450px;
    }
}
.type {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Rubik", sans-serif;  
    font-weight: 400;
}

.price {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;  
    font-weight: 500;
    margin-top: 30px;
    
}
.bonuses {
    margin-bottom: 70px;
}
.bonuses p {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;  
    font-weight: 400;
    margin-bottom: 25px;
}

.buttondiv {
    display: flex;
    justify-content: center;
}

.freetrialbutton {
    width: 80%;
    height: 60px;
    border-style: solid;
    border-width: 0;
    border-radius: 0px;
    background-color: pink;
    font-family: "Rubik", sans-serif;  
    font-size: 15px;
    cursor: pointer;

}

.freetrialbutton:hover {
   background-color: rgb(244, 182, 193);
}